{% trans_default_domain 'FOSUserBundle' %}

<div class="body">
    <div class="wrapper">  
<h1>Edit</h1>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<!--
 <form name="fos_user_profile_form" method="post" action="/profile/edit" class="fos_user_profile_edit">
        <div id="fos_user_profile_form">
            <div>
                <label for="fos_user_profile_form_username" class="required">Nom d&#039;utilisateur</label>
                <input type="text" id="fos_user_profile_form_username" name="fos_user_profile_form[username]" required="required" maxlength="255" pattern=".{2,}" value="mm" />
            </div>
            <div><label for="fos_user_profile_form_email" class="required">Adresse e-mail</label>
                <input type="email" id="fos_user_profile_form_email" name="fos_user_profile_form[email]" required="required" value="marie@hotmail.fr" />
            </div>
            <div><label for="fos_user_profile_form_current_password" class="required">Mot de passe actuel</label>
                 <input type="password" id="fos_user_profile_form_current_password" name="fos_user_profile_form[current_password]" required="required" />
            </div>
        <input type="hidden" id="fos_user_profile_form__token" name="fos_user_profile_form[_token]" value="tLpS_0KTVb5gk93npwAz9xMphQunZGbGvdSNPSoVkso" />
         <div>
        <input class="submit" type="submit" id="fos_user_profile_form__submit" name="fos_user_profile_form__submit" value="{{ 'profile.edit.submit'|trans }}" />
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" /> 
        </div>
      </div> 
</form> 
  -->
</div>
</div>
<!--
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
-->


<div id="changepass" > 
    <div class="wrapper" id="divpass">  
        
        <h3>Change Password</h3>
    <form name="fos_user_profile_form" method="post" action="/profile/change-password" class="fos_user_change_password">
    <div>
        <input id="modif" type="submit" value="" name="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
</div>
</div> 
 
   



{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/user/css/edit.css')}}"/>
{% endblock %}